xml/xml/bandu_xml/validation_xsd.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Defining the root element 'root' -->
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <!-- Defining the 'event' element -->
        <xs:element name="event" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event_id" type="xs:int"/>
              <xs:element name="event_name" type="xs:string"/>
              <xs:element name="event_desc" type="xs:string"/>
              <!-- Defining the 'event_tags' element -->
              <xs:element name="event_tags">
                <xs:complexType>
                  <xs:sequence>
                    <!-- Defining the 'tag' element within 'event_tags' -->
                    <xs:element name="tag" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:int"/>
                          <xs:element name="displayName" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="event_type_participation" type="xs:string"/>
              <!-- Defining the 'event_timing' element -->
              <xs:element name="event_timing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="event_start_datetime" type="xs:dateTime"/>
                    <xs:element name="event_end_datetime" type="xs:dateTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="event_organizer_email" type="xs:string"/>
              <xs:element name="event_organizer_phone" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
